.accordion {

}

.mt-44 {
   // margin-top: 44px;
}

.accordion.MuiAccordion-rounded.MuiPaper-elevation1 {
    box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, .3)
}

.toolbar-menu-wrap.open .menu-area{
    background-color: #fff;
}

// .MuiPaper-root .MuiCardContent-root {
//     padding: 0px !important;
// }

.headerListProject {

}

.overflowY-visible{
    overflow-y: visible!important;
}

// .makeStyles-globitsTableWraper-1117 .MuiPaper-root .Component-horizontalScrollContainer-1122 div div div .MuiPaper-root{
//     border-color : none !important
// }

